:root {
    --main-color-400: hsl(28, 35%, 92%);
    --main-color-300: hsl(26, 28%, 95%);
    --main-color-200: hsl(34, 14%, 90%);
    --main-color-100: hsl(30, 45%, 96%);
    --highlight-color-400: hsl(240, 4%, 72%);
    --text-highlight-400: hsl(22, 26%, 12%);
    --grey: #7c7874;
    --silver: #b4b4ba;
    --green: #b9bcb5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

body {
    color: black;
    background-color: var(--main-color-300);
}

@font-face {
    font-family: "Woodblock-Sans Aged";
    font-display: auto;
    src: url(/fonts/Woodblock-Sans-Aged.otf) format("otf");
}
